on:
  push:
  pull_request:
  schedule:
    - cron: '0 7 * * *'

name: Test
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true

      - name: English specs
        run: LANG=en bundle exec rspec

      - name: Russian specs
        run: LANG=ru bundle exec rspec
